/*
Theme Name: TheShop
Theme URI: http://athemes.com/theme/theshop
Author: aThemes
Author URI: http://athemes.com
Description: TheShop is a very easy to use e-commerce theme, compatible with the popular WooCommerce plugin. TheShop includes a custom front page, fonts and color options, two menus, a slider for your header and much more. 
Version: 1.04
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: theshop
Tags: light, two-columns, right-sidebar, fluid-layout, responsive-layout, custom-colors, custom-background, custom-header, custom-menu, featured-images, sticky-post, theme-options, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

TheShop is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.
*/


body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #ffffff !important;
	word-wrap: break-word;
	line-height: 1.6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #1c1c1c;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
}
a,
a:hover {
	color: #9FAFF1;
}
mark {
	background-color: transparent;
}
/*--------------------------------------------------------------
# Tables
--------------------------------------------------------------*/
table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #e0e0e0;
}
th {
	background-color: #f5f5f5;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
	padding: 10px;
	line-height: 1.42857143;
	vertical-align: top;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
	border: 1px solid #dddddd;
}
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
}

button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
        border-radius: 3px;
        margin: 55px;
	padding: 15px 25px;
	border: 0;
	color: #fff;
	font-weight: 700;
	background-color: #9FAFF1;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: none;

}
input[type="submit"] {
	margin-top: 5px;
}
button:hover,
.button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background-color: #17191B;
	color: #fff;
	text-decoration: none;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: border-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #e0e0e0;
	border-radius: 3px;
	width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 14px;
}

textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 8px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
    display: inline-block;
    float: left;
    text-align: center;
	width:100%
}

.main-navigation ul,
.secondary-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    padding: 0px 3px;
    float: left;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    min-width: 115px;
}

.main-navigation a {
	display: block;
	text-decoration: none;
	color: #1c1c1c;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
        border: 2px solid #fff;
}
.main-navigation a:hover {
	color: #9FAFF1;
}

.main-navigation ul ul,
.secondary-navigation ul ul {
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
	text-align: left;
}
.main-navigation ul ul {
	background-color: #fff;
	border: 1px solid #f1f1f1;
	border-top: 2px solid #9FAFF1;
}
.secondary-navigation ul ul {
	top: 0;
	background-color: #9FAFF1;
	box-shadow: none;
}
.main-navigation ul ul ul,
.secondary-navigation ul ul ul {
	left: -999em;
	top: 0;
}
.secondary-navigation ul ul li {
	width: 200px;
	border-bottom: 1px solid #6B6A6A;
	text-transform: none;
}
.secondary-navigation ul ul li:last-of-type {
	border-bottom: 0;
}
.secondary-navigation li {
	position: relative;
}
.main-navigation ul ul a {
	width: 200px;
	color: #1c1c1c !important;
}

.main-navigation ul ul li {
	border-bottom: 1px solid #f1f1f1;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}
.main-navigation ul ul li:last-of-type {
	border-bottom: 0;
}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.secondary-navigation ul li:hover > ul,
.secondary-navigation ul li.focus > ul {
	left: 100%;
}


.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a {
}

/* Secondary nav */
.secondary-navigation a,
.secondary-navigation a:hover {
	color: #fff;
	text-decoration: none;
}
.secondary-navigation {
	background-color: #2C292A;	
	width: 25%;
	float: left;
}
.secondary-navigation .menu {
	padding: 0;
}
.secondary-navigation li {
	padding: 15px 25px;
	text-transform: uppercase;
	border-bottom: 1px solid #212121;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}
.secondary-navigation li::before {
    font-family: FontAwesome;
}

.secondary-navigation .fa,
.secondary-navigation li::before {
	-webkit-transition: color 0.2s;
	transition: color 0.2s;	
}
.secondary-navigation li:hover {
	background-color: #9FAFF1;
}
.secondary-navigation li:hover .fa,
.secondary-navigation li:hover::before {
	color: #fff;
}
.secondary-navigation .fa,
.secondary-navigation li::before {
	margin-right: 10px;
	color: #8A8A8A;
}

/* Mobile menu */
.mobile-nav,
.s-mobile-nav {
	display: none;
	text-align: center;
	background-color: #1c1c1c;
}
.s-mobile-nav {
	padding: 15px;
}
.mobile-nav {
	background-color: transparent;
	width: 100%;
}
.slicknav_btn {
	padding: 15px;
	margin: 0 auto;
	font-size: 22px;
}
.slicknav_btn,
.slicknav_btn:hover {
	color: #fff;
}
.mobile-nav .slicknav_btn,
.mobile-nav .slicknav_btn:hover {
	color: #1c1c1c;
}
.mobile-nav .slicknav_menu {
    text-align: right;
}
.slicknav_nav {
    position: absolute;
    left: 0;
    background-color: #1c1c1c;
    width: 100%;
    z-index: 999;
    text-align: center;
    margin-top: 15px;
}
.slicknav_nav,
.slicknav_nav ul {
	list-style: none;
	padding: 0;
}
.slicknav_nav a {
	color: #fff;
}
.mobile-nav .slicknav_nav a {
	color: #fff;
}
.slicknav_nav a:hover,
.slicknav_nav a:afmobilctive,
.slicknav_nav a:focus, {
	text-decoration: none;
}
.slicknav_nav li {
	border-bottom: 1px solid #333;
	padding: 8px 0;
}
.s-mobile-nav .slicknav_menutxt .fa {
	margin-right: 0;
	color: #fff;
}
.secondary-navigation .s-mobile-nav ul ul li {
	border-bottom: 1px solid #333;
}
.slicknav_nav .menu-item-has-children.slicknav_open,
.slicknav_nav .page_item_has_children.slicknav_open {
	padding-bottom: 0;
	border-bottom: 0;
}
.slicknav_nav .menu-item-has-children li,
.slicknav_nav .page_item_has_children li {
	background: #111;
	text-align: center;
	padding: 15px;
}
.slicknav_arrow {
	margin-left: 10px;
}
/* Posts and comments navigation */
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 45px;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	max-width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	max-width: 50%;
}

.post-navigation a,
.posts-navigation a {
	display: block;
	padding: 15px 25px;
	border: 0;
	color: #fff;
	font-weight: 700;
	background-color: #9FAFF1;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	cursor: pointer;
	-webkit-appearance: none;

}
.post-navigation a:hover,
.posts-navigation a:hover {
	background-color: #17191B;
	color: #fff;
	text-decoration: none;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 45px;
	background-color: #fff;
    padding: 30px;
    border: 1px solid #f1f1f1;
}
.widget:last-of-type {
	margin-bottom: 0;
}
.widget,
.widget a {
	color: #8C8F94;
}
.widget-title {
	position: relative;
	margin: 0 0 30px;
	padding: 0 0 10px 10px;
	text-transform: uppercase;
	border-bottom: 1px solid #f1f1f1;
}
.widget-title::after {
	content: '';
	position: absolute;
	bottom: -3px;
	left: 10px;
	width: 30px;
	height: 5px;
	background-color: #9FAFF1;
}
/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

.woocommerce .star-rating span {
	color: #9FAFF1;
}
/* Footer widgets */
.footer-widgets {
	background-color: #F9F9F9;
	border-top: 1px solid #f1f1f1;
	padding: 30px 0;
}
.footer-widgets .widget {
	background-color: transparent;
	border: 0;
	margin-bottom: 0;
}
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 45px;
	padding-bottom: 45px;
	border-bottom: 1px solid #f1f1f1;
}
.hentry:first-of-type {
	padding-top: 45px;
	border-top: 1px solid #f1f1f1;	
}
.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.single-thumb {
	margin-bottom: 30px;
}
.entry-title {
	margin: 0 0 15px;
	font-size: 26px;
}
.entry-title a {
	color: #1c1c1c;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}
.entry-title a:hover {
	color: #9FAFF1;
	text-decoration: none;
}
.entry-thumb,
.inner-content {
	width: 50%;
	float: left;
}
.inner-content {
	padding-left: 30px;
}
.inner-content.no-thumb {
	width: 100%;
	float: none;
	padding: 0;
}
.entry-meta,
.entry-meta a,
.entry-footer,
.entry-footer a {
    color: #AFAFAF;
    font-style: italic;
}
.entry-meta,
.entry-footer {
	display: table;
	margin-left: auto;
	padding: 10px 15px 0;
	padding-top: 10px;
	border-top: 1px solid #f1f1f1;
	border-left: 1px solid #f1f1f1;
}
.entry-footer {
	margin-top: 30px;
}
.cat-links,
.tags-links {
	margin-right: 15px;
}
.page-header {
    padding-bottom: 30px;
    margin: 0;
    border-bottom: 0;
}
.page-header .page-title {
	margin: 0;
}
/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comments-area {
	margin-bottom: 60px;
}
.comments-title {
	margin: 0;
	font-size: 24px;
	padding: 30px;
	border-bottom: 1px solid #e0e0e0;
	background-color: #fff;
}
.comments-area ol {
	list-style: none;
}
.comments-area ol {
	padding: 0;
}
.comments-area .children {
	padding-left: 20px;
}
.comments-area .fn {
}
.comment-author .avatar {
	position: absolute;
}
.comment-author .fn,
.comment-metadata {
	margin-left: 80px;
}
.comment-metadata {
	font-size: 12px;
	margin-bottom: 30px;
}
.comment-body {
	padding: 30px;
	border: 1px solid #e0e0e0;
	background-color: #fff;
	margin-bottom: 15px;
}
.reply {
	text-align: right;
}
.comment-reply-link {
	padding: 5px;
	background-color: #fff;
	font-size: 12px;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;	
}
a.comment-reply-link {
	text-decoration: none;
}
a.comment-reply-link:hover {
	color: #000;
	box-shadow: 0 0 1px #505050;
}
.comments-area a.url {
	text-decoration: underline;
}
.comment-metadata a,
.comments-area a.url {
	color: #444;
}
.bypostauthor {
}
.comment-respond {
	margin-top: 60px;
}
.comment-form .form-submit {
	margin-top: 30px;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

img {
	height: auto;  /*Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}

.wp-caption-text {
	text-align: center;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.site-logo {
	max-height: 80px;
	max-width: 100%;
}
.site-header {
	background-color: #fff;
	padding: 36px 0 !important;
}
.site-title {
	margin: 0;
}
.site-description {
	color: #a9a9a9;
	margin: 15px 0 0;
	font-size: 14px;
	font-weight: 400;
}	
.site-title a,
.site-title a:hover {
	text-decoration: none;
	color: #1c1c1c;
}
.site-header .container,
.header-inner-text {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: center;	
}
.site-branding {
	padding-left: 0;
}
.main-navigation {
	padding-right: 0;
}

/* Header contact */
.header-promo {
	background-color: #fff;
	text-align: center;
	border-bottom: 1px solid #f1f1f1;
	border-top: 1px solid #f1f1f1;
}
.promo-box {
	display: inline-block;
	padding: 30px 15px;
	width: 30%;
	border-right: 1px solid #f1f1f1;
	vertical-align: top;
	font-weight: 300;
}
.header-promo .container {
	display: block;
}
.promo-box span {
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	position: relative;
    top: 3px;
}
.promo-box .fa {
	margin-right: 15px;
	font-size: 32px;
	color: #444446;
	vertical-align: middle;
}
.promo-box,
.promo-box a {
	color: #4c4c4c;
}
.promo-box:last-of-type {
	border-right: 0;
}

/* Nav cart */
.nav-cart a {
	display: inline-block;
}
.nav-cart,
.nav-cart a {
	color: #fff !important;
}
.nav-cart a:hover {
	color: #fff;
}
li.nav-cart {
    background-color: #9FAFF1;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 13px;
}
/*--------------------------------------------------------------
## Hero
--------------------------------------------------------------*/
.hero-section {
	max-width: 1170px;
	padding: 0 15px;
	margin: 30px auto 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex: 1;
}
.header-slider {
	padding-left: 30px;
	width: 75%;
}
.header-image {
	width: 100%;
	float: left;
	background-size: cover;
}
/*--------------------------------------------------------------
## Structure
--------------------------------------------------------------*/
.content-area {
	width: 75%;
	float: left;
}
.widget-area {
	width: 25%;
	float: right;
}
.site-content {
	margin: 60px 0;
}
.content-wrapper {
	padding: 30px;
	background-color: #fff;
}
.page-template-page_front-page .site-content {
	margin-top: 0;
	margin-bottom: 0;
}
.page-template-page_front-page {
	background-color: #fff;
}
.fullwidth, .fullwidth-single .content-area {
    margin-bottom: 30px;
    width: 100%;
}
.site-footer {
	padding: 15px 0;
	background-color: #f3f3f3;
	border-top: 1px solid #E4E4E4;
}
.site-footer,
.site-footer a {
	color: #717171;
}
/* 404 */
.error404 .content-area {
	text-align: center;
}
.error404 .widget_recent_entries ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

/*--------------------------------------------------------------
## Homepage sections
--------------------------------------------------------------*/
.home-section {
	padding: 100px 0;
}

.home-section .container {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex: 1;
}
.home-section.cta-section .container {
	display: block;
}
.section-title {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	margin: 0 0 80px;
	position: relative;
	text-transform: uppercase;
	justify-content: center;
	text-align: center;
	width: 25%;
	float: left;
}
.section-title span {
	padding: 15px;
	border-right: 2px solid;
	border-top: 2px solid;
	border-bottom: 2px solid;
}
.inner-section {
	width: 75%;
	float: left;
	padding-left: 30px;
}
/* Products */
.products-loop .woocommerce ul.products .owl-item li {
    width: 100% !important;
    margin: 0 !important;
    /*min-height: 330px !important;*/
    height: 280px;
}
.products-loop .owl-item {
	padding: 0 15px;
}
.products-loop .inner-section {
	padding-left: 15px;
}
/* CTA */
.cta-section {
	background-color: #2C292A;
	color: #fff;
	text-align: center;
	padding: 50px 0;
}
.cta-text {
	margin-bottom: 45px;
	font-size: 24px;
}
/* Categories */
.cats-loop {
	background-color: #f7f7f7;
}
.cats-loop .product-category.product {
	position: relative;
        top: 80px;
}
.cats-loop .product-category.product::after {
    content: '';
    width: 100%;
    height: 51%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
.cats-loop .woocommerce .product.product-category h3 {
	position: absolute;
	top: 40%;
	width: 100%;
	text-align: center;
	z-index: 12;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
}
.cats-loop mark {
	color: #fff;
}
/*--------------------------------------------------------------
## Preloader
--------------------------------------------------------------*/
.preloader {
    background-color: #fff;
    height: 100%;
    opacity: 1;
    position: fixed;
    text-align: center;
    transition: all 0.5s ease 0s;
    width: 100%;
    z-index: 9999;
}
.preloader .preloader-inner {
    left: 40%;
    position: relative;
    top: 25%;
    width: 20%;
    font-size: 32px;
    color: #9FAFF1;
    font-weight: 700;
    text-transform: uppercase;
}
/*--------------------------------------------------------------
## Responsive
--------------------------------------------------------------*/
@media only screen and (max-width: 1199px) {

}
@media only screen and (max-width: 1024px) {
	.main-navigation,
	.secondary-navigation .menu {
		display: none;
	}	
	.mobile-nav,
	.s-mobile-nav {
		display: block;
	}
	.secondary-navigation,
	.header-slider {
		width: 100%;
		padding: 0;
		float: none;
	}
	.hero-section {
		display: block;
	}
	.secondary-navigation ul ul {
		float: none;
		position: relative;
		left: 0;
	}
	.secondary-navigation ul ul li {
		width: 100%;
	}
	.secondary-navigation ul li:hover > ul,
	.secondary-navigation ul li.focus > ul {
		left: auto;
	}
	li.nav-cart {
		margin: 0;
		border-radius: 0;
	}
}
@media only screen and (max-width: 991px) {
	.content-area,
	.widget-area {
		width: 100%;
	}	
}
@media only screen and (max-width: 767px) {
	h1 {
		font-size: 24px !important;
	}
	h2 {
		font-size: 22px !important;
	}
	.site-description {
		font-size: 14px !important;
	}
	.site-header .container {
		display: block;
	}
	.site-branding {
		width: 100%;
		padding: 0 15px;
		text-align: center;
	}
	.mobile-nav .slicknav_menu {
		text-align: center;
		margin-top: 15px;
	}
	.promo-box {
		display: block;
		width: 100%;
		padding: 15px;
		border-bottom: 1px solid #f1f1f1;
		border-right: 0;
	}
	.promo-box .fa {
		font-size: 18px;
	}
	.promo-box span {
		font-size: 14px;
	}
	.home-section .container {
		display: block;
	}
	.section-title {
		width: 100%;
		margin: 0 0 40px;
	}
	.inner-section {
		width: 100%;
		padding: 0;
	}
	.home-section {
		padding: 50px 0;
	}
	.products-loop .inner-section {
		padding: 0;
	}
	.cats-loop .woocommerce .products li.product-category {
		clear: none;
		margin: 0;
		text-align: center;
	}
	.content-wrapper {
		padding: 15px;
	}
	.content-area {
		padding-right: 0;
	}
	.preloader .preloader-inner {
		left: auto;
		width: 100%;
		font-size: 14px;
	}
}

@media only screen and (max-width: 650px) {
	.entry-thumb,
	.inner-content {
		width: 100%;
		float: none;
	}
	.entry-thumb {
		text-align: center;
		margin-bottom: 15px;
	}
	.inner-content {
		padding: 0;
	}
}

@media only screen and (max-width: 500px) {
	.blog-post {
		width: 100%;
		padding: 0;
	}
	.widget {
		padding: 15px;
	}
	.footer-widgets .widget {
		padding: 15px 0;
	}
}

@media only screen and (max-width: 320px) {
	h1 {
		font-size: 20px !important;
	}
	h2 {
		font-size: 18px !important;
	}
	h3 {
		font-size: 16px !important;
	}	
	.site-description {
		font-size: 14px !important;
	}
}



/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	padding: 0;
	-ms-touch-action: pan-y;
	margin: 0;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.html) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
	text-align: center;
        display: none !important;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;
	font-size: 52px;
	filter: Alpha(Opacity=70);
	opacity: 0.7;
	position: absolute;
	top: 45%;
}
.owl-prev {
	left: 15px;
}
.owl-next {
	right: 15px;
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 15px;
	height: 8px;
	margin: 15px 5px 0;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	background-color: #9FAFF1;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
ul.products li {
    float: left;
    width: 33%;
    padding: 10px;
}

.site-main .acc{
	float: left;
	width: 100%;
	margin: 20px 0px;

}
.acc .starrating {
    float: right;
}
#product-instock{
	float: left;
	width: 100%;
	margin-top: 20px;
}




#product-instock .images {
    float: left;
    width: 100%;
    margin-bottom: 40px;
    background-repeat: no-repeat;
    background-size:100%;
}




#product-instock .woocommerce-main-image.zoom {
    float: left;
    width: 100%;
    padding: 150px;
    padding-bottom: 30px;
    padding-top: 55px;
}
#product-instock .woocommerce-main-image.zoom img{
    float: left;
    width: 100%;
}

#product-instock .related.products {
    float: left;
    width: 100%;
    margin-top: 30px;
}
#product-instock .summary.entry-summary {
    float: left;
    width: 60%;
}
#product-instock .product_button #borderleft, 
#product-instock .product_button #button_add_to_fav{
	color: #824a65;
	font-size: 12px;
	display: inline-block;
	cursor: pointer;
	text-transform: uppercase;
	padding: 9px 15px 9px 15px;
	margin-right: 2px;
	color: #fff !important;
	font-weight: bold;
	background: #d33;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#product-instock .product_button {
    /* float: left; */
    width: 30%;
    margin: 0 auto;
    /* margin-top: 25px; */
}
#product-instock .product_button #borderleft:hover, 
#product-instock .product_button #button_add_to_fav:hover{
    color: #fff;
    background: #1E73BE;
    text-decoration: none;
}
.images .poem {
    text-align: center;
    float: left;
    width: 100%;
}
.images .poem .pname{
	font-size: 10pt;
    line-height: 17px;
    text-align: center;
    color: black;
    margin-top: 20px;
    margin-bottom: 0px;
    font-weight: bold;
}
.images .poem .pauthor{
	font-size: 10pt;
    line-height: 17px;
    text-align: center;
    color: black;
    margin-bottom: 0px;
}
.images .poem .pcontent {
    margin-top: 10px;
    font-size: 10pt;
    line-height: 17px;
    text-align: center;
    color: black;
    margin-bottom: 30px;
}
div.borderRadius {
    width: 100% !important;
}
.images .audio_m {
    width: 29%;
    margin: 0 auto;
}
.images .audio_wapper{
	float: left;
	width: 100%;
}
.images .stap_m {
    float: right;
    width: 84px;
    margin-top: 20px;
}



.sendcart .content-wrapper .table_border {
    text-align: left;
    font-size: 8pt;
    z-index: 9;
}
.sendcart .content-wrapper .info_card_send {
    width: 70%;
	float: left;
	margin-right: 11px;
}
.sendcart .content-wrapper .info_card_send .fieldset input[type="text"] {
    width: 240px;
	float: left;
	padding: 5px 10px;
	margin-top: 15px;
	font-size: 13px;
}
.sendcart .content-wrapper .info_card_send .fieldset label {
    float: left;
    color: #212121;
    height: 26px;
    font-size: 13px;
    padding-top: 5px;
	margin-top: 15px;
    width: 150px;
}
.sendcart .content-wrapper .info_card_send .fieldset {
    border: 1px solid #000;
    padding: 20px 30px 20px 20px;
    width: 100%;
    margin-bottom: 5px;
}
.fieldset #txt_twitter_recipient {
    /*color: #c8086e;*/
    padding-bottom: 5px;
    cursor: pointer;
    display: block;
    float: left;
    width: 100%;
}
.info_card_send .fieldset span {
    line-height: 26px;
	margin-left: 20px;
	margin-top: 20px;
}
.fieldset #re_num{
	float: none;
}
.fieldset select {
    min-width: 133px !important;
    float: left;
    border: 1px solid #bcbcbc;
	background: #FFF;
	height: 30px;
	padding: 5px 5px 5px 10px;
	color: #212121;
	margin: 15px 0px;
}
.fieldset input[type="text"] {
    width: 136px;
    float: left;
}
.fieldset .showmore {
    border: 1px solid #000;
    float: right;
    padding: 0 10px;
    color: #212121;
    cursor: pointer;
    font-size: 13px;
    padding: 5px 9px;
    margin-right: 24px;
}
.recepient_address {
    width: 29%;
    float: left;
    background-color: #eee;
    padding: 20px;
}
.content-wrapper .editor_m{
	float: left;
	width: 100%;
	margin-top: 20px;
}
.content-wrapper #full{
	float: left;
	width: 100%;
	margin-top: 30px;
}
.content-wrapper .fieldset {
    border: 1px solid #000;
    padding: 20px 30px 20px 20px;
    width: 589px;
    margin-bottom: 2px;
}
.content-wrapper .fieldset .list_check_card_send {
    width: 70%;
    float: left;
    border-right: 1px solid #000;
    padding: 10px 0 10px 0px;
    margin-bottom: 30px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
}
#full .delivery {
    float: right;
    padding: 10px 0 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
}
#full .delivery p {
    color: #212121;
    padding-bottom: 10px;
    font-weight: bold;
}
#full #show_popup_calendar {
    display: table-cell;
    vertical-align: middle;
}
.content-wrapper .sendcart_button_wapper{
	float: left;
	width: 100%;
	margin-top: 20px;
}
.sendcart_button_wapper .sendcart_button{
	width: 30%;
	margin: 0 auto;
}
.sendcart_button #borderleft{
	color: #fff;
	font-size: 13px;
	background: #b10661;
	margin-right: 2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 9px 37px !important;
	font-weight: bold;
}
.sendcart_button #button_add_to_fav {
	color: #fff;
	font-size: 13px;
	background: #b10661;
	margin-right: 2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 11px 15px !important;
	font-weight: bold;
}
.sendcart_button #button_add_to_fav:hover{
	text-decoration: none;
}

ul.products li {
    float: left;
    width: 33%;
    height: 352px;
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce div.product p.price, .woocommerce div.product span.price, .woocommerce .woocommerce-info:before, .woocommerce .woocommerce-message:before, .woocommerce .woocommerce-message:before, .preloader .preloader-inner, .entry-title a:hover, .woocommerce .star-rating span, a, a:hover, .main-navigation a:hover {
    color: #fff;
    text-decoration: none;
}

.section-title span {
    border-left: 2px solid;
    color: #fff;
    background: #DD3333;
}

.forgot-pass {
    margin-left:4.5%;
}

.post-thumb {
    min-height: 200px;
}

.post-thumb img {
    min-height: 200px;
}

#Form_RegistrationForm_FirstName_Holder label {
    color: white;
}

#site-navigation .search-bar{
	position: absolute;
    right: 22px;
    width: 45%;
    z-index: 999;
    top: 35px;
}
#site-navigation input#SearchForm_SearchForm_action_results {
    margin: 0;
    float: left;
    margin-top: 33px;
}
#site-navigation #SearchForm_SearchForm_Search_Holder .middleColumn .text{
	border: 1px solid #dd3333;
}

#site-navigation #SearchForm_SearchForm_Search_Holder .middleColumn {
    float: left;
    width: 100%;
}
#site-navigation #SearchForm_SearchForm_Search_Holder label.left {
    float: left;
    width: 100%;
}
#site-navigation #SearchForm_SearchForm fieldset {
    padding: 15px 0px !important;
    float: right;
    width: 100%;
}
#site-navigation div#SearchForm_SearchForm_Search_Holder {
    float: left;
    width: 80%;
	padding-right: 6px;
}

/*  styled select field */

select {
	-webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 98% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    margin: 15px 0px;
    overflow: hidden;
    padding: 17px 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    height: 60px;
}

select {
   color: #110f14;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#ffffff, #ffffff 40%, #ffffff);
    background-color: #ffffff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 4px;
    /* padding-left: 15px;*/
} 
#Gender label.left {
    float: left;
    width: 10%;
}
#Gender .middleColumn {
    float: left;
    width: 90%;
}
#Gender .middleColumn ul#Form_RegistrationForm_Gender {
    float: left;
    width: 100%;
}
#Gender .middleColumn ul#Form_RegistrationForm_Gender  li {
    float: left;
    width: 10%;
}
#Form_RegistrationForm_Gender_Male, #Form_RegistrationForm_Gender_Female {
    float: left;
    margin-top: 8px;
    margin-right: 8px;
}

.social-share {
    margin-bottom: 0px;
}

#featured {
    float: left;
    width: 100%;
    position: relative;
    margin-top: -145px;
    background-color: #D33;
    width: 93px;
    font-weight: bold;
}
#add_to_fav {
    color: #824a65;
    font-size: 12px;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    padding: 9px 15px 9px 15px;
    margin-right: 2px;
    color: #fff !important;
    font-weight: bold;
    background: #d33;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}